exp_name=WorldModels
env_name=CarRacing-v0
dream_env=0
max_frames=1000
min_frames=100
max_trials=160
render_mode=False
full_episode=True
exp_mode=4 # same as ZH
a_width=3
z_size=32
state_space=1 # include cell and hidden state
vae_batch_size=100
vae_learning_rate=0.0001
vae_kl_tolerance=0.5
vae_num_epoch=10

rnn_num_steps=4000
rnn_max_seq_len=1000 # train on sequences of 1000
rnn_r_pred=0
rnn_d_pred=0
rnn_input_seq_width=35 # z + a
rnn_size=256 # size of hidden/cell state
rnn_batch_size=100
rnn_grad_clip=1.0
rnn_num_mixture=5 # number of mixtures in MDN
rnn_learning_rate=0.001
rnn_decay_rate=1.0
rnn_min_learning_rate=0.00001
rnn_d_true_weight=1.0
rnn_temperature=1.0

controller_optimizer=cma
controller_num_episode=16
controller_num_test_episode=2 # 64 workers running 2 each
controller_eval_steps=10
controller_num_worker=64
controller_num_worker_trial=1
controller_antithetic=0
controller_cap_time=0
controller_retrain=0
controller_seed_start=0
controller_sigma_init=0.1
controller_sigma_decay=0.999
controller_batch_mode=mean
