exp_name=WorldModels
env_name=DoomTakeCover-v0
dream_env=1 # True, train in dream env
max_frames=2100
min_frames=100
max_trials=157
render_mode=False
full_episode=False
exp_mode=4 # same as ZH
a_width=1
z_size=64
state_space=2 # include cell and hidden state
vae_batch_size=100
vae_learning_rate=0.0001
vae_kl_tolerance=0.5
vae_num_epoch=10

rnn_num_steps=40000
rnn_max_seq_len=500 # train on sequences of 1000
rnn_r_pred=0
rnn_d_pred=1
rnn_input_seq_width=65 # z + a
rnn_size=512 # size of hidden/cell state
rnn_batch_size=100
rnn_grad_clip=1.0
rnn_num_mixture=5 # number of mixtures in MDN
rnn_learning_rate=0.001
rnn_decay_rate=0.99999
rnn_min_learning_rate=0.00001
rnn_d_true_weight=1.0
rnn_temperature=1.0 # temperature used when sampling rnn

controller_optimizer=cma
controller_num_episode=16
controller_num_test_episode=2  
controller_eval_steps=25
controller_num_worker=64
controller_num_worker_trial=1
controller_antithetic=0
controller_cap_time=0
controller_retrain=0
controller_seed_start=0
controller_sigma_init=0.1
controller_sigma_decay=0.999
controller_batch_mode=mean
